site_name: PixInsight
site_url: https://macekkrystof.github.io/pixinsight/

theme:
  name: material
  language: cs
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search

nav:
  - Home: index.md
  - Obsah:
      - 01 - Instalace: 01-01-instalace.md
      - 02 - Kontrola snímků: 02-02-kontrola.md
      - 03 - WBPP: 03-03-wbpp.md
      - 04 - LRGBCombination (volitelné pro mono): 04-04-lrgb.md
      - 05 - DBE: 05-05-dbe.md
      - 06 - SPCC: 06-06-spcc.md
      - 07 - BlurXterminator: 07-07-blurx.md
      - 08 - Soft stretch: 08-08-soft-stretch.md
      - 09 - StarNet2: 09-09-starnet2.md
      - 10 - Histogram: 10-10-histogram.md
      - 11 - CurvesTransformation: 11-11-curves.md
      - 12 - NoiseXTerminator: 12-12-noisexterminator.md
      - 13 - Závěr: 13-13-zaver.md
