site_name: PixInsight
site_url: https://macekkrystof.github.io/pixinsight/

theme:
  name: material
  language: cs
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
  - search

nav:
  - Home: index.md
  - Chapters:
      - 01 - Instalace: 01-01-instalace.md
      - 02 - Kontrola snímků: 02-02-kontrola.md
      - 03 - WBPP: 03-03-wbpp.md
      - 04 - DBE: 04-04-dbe.md
      - 05 - SPCC: 05-05-spcc.md
      - 06 - BlurX: 06-06-blurx.md
      - 07 - Soft stretch: 07-07-soft-stretch.md
      - 08 - StarNet2: 08-08-starnet2.md
      - 09 - Histogram: 09-09-histogram.md
      - 10 - CurvesTransformation: 10-10-curves.md
      - 11 - Závěr: 11-11-zaver.md
      - 12 - NoiseXTerminator: 12-11-noisexterminator.md
